# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.test
scpi-parse/examples/*/test
pts-srv/vxi11_client
pts-srv/vxi11_server
# Backup files
*~
scpi-parse/libscpi/obj/
scpi-parse/libscpi/dist/

scpi-parse/nbproject/
*.bak
