# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.test
scpi-parse/examples/*/test

# Backup files
*~
scpi-parse/libscpi/obj/
scpi-parse/libscpi/dist/

scpi-parse/nbproject/
*.bak
